In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("encoders.csv")

In [4]:
df

,id,date,scanner,min,max,err,pixels,minf,maxf,errf,created_at,updated_at
0,12,2017-12-17,K219,35435,35933,1.40,6,35681,35688,0.02,NaN,2017-12-29 16:26:16.475205
1,30,2017-12-18,H161,35155,36382,3.43,14,35731,35761,0.08,NaN,2017-12-29 16:26:16.872783
2,47,2017-12-18,K211,35305,36042,2.07,43,35692,35739,0.13,NaN,2017-12-19 18:10:57.453846
3,48,2017-12-18,K212,35216,36225,2.82,61,35686,35726,0.11,NaN,2017-12-19 18:10:57.45983
4,49,2017-12-18,K220,35196,36259,2.98,11,35709,35724,0.04,NaN,2017-12-19 18:10:57.464388
5,50,2017-12-18,K221,35391,36054,1.86,5,35734,35738,0.01,NaN,2017-12-19 18:10:57.469167
6,68,2017-12-19,K169,34909,36193,3.61,51,35564,35574,0.03,NaN,2017-12-29 16:21:42.602005
7,31,2017-12-18,H162,35359,36084,2.03,39,35743,35772,0.08,NaN,2017-12-29 16:26:16.901776
8,8,2017-12-16,K238,35123,36175,2.95,6,35707,35718,0.03,NaN,2017-12-29 16:26:17.096023
9,10,2017-12-16,K250,35357,36015,1.84,17,35702,35708,0.02,NaN,2017-12-29 16:26:17.128897
10,7,2017-12-16,K237,35462,36079,1.72,11,35713,35720,0.02,NaN,2017-12-29 16:26:17.160421
11,6,2017-12-17,H173,35489,36031,1.52,11,35726,35745,0.05,NaN,2017-12-29 16:21:43.505101
12,2,2017-12-17,H175,34014,37070,8.60,50,35744,35769,0.07,NaN,2017-12-29 16:21:43.518853
13,4,2017-12-17,H177,35270,36244,2.72,42,35752,35768,0.04,NaN,2017-12-29 16:21:43.532435
14,3,2017-12-17,H176,35455,35988,1.49,25,35742,35760,0.05,NaN,2017-12-29 16:21:43.546355
15,5,2017-12-17,H174,35408,36128,2.01,39,35726,35745,0.05,NaN,2017-12-29 16:21:43.560012
16,20,2017-12-17,H128,35227,35929,1.97,119,35720,35745,0.07,NaN,2017-12-29 16:21:43.638894
17,29,2017-12-18,H163,35331,36280,2.65,58,35698,35772,0.21,NaN,2017-12-29 16:26:16.93791
18,9,2017-12-16,K239,35264,36246,2.75,21,35720,35727,0.02,NaN,2017-12-29 16:26:17.062209
19,66,2017-12-19,K120,-1,-1,0.00,-1,-1,-1,0.00,NaN,2017-12-29 16:21:42.633186
20,67,2017-12-19,K141,35396,36048,1.83,44,35671,35707,0.10,NaN,2017-12-29 16:21:42.662023
21,46,2017-12-18,H148,35463,36032,1.59,19,35749,35768,0.05,NaN,2017-12-29 16:21:43.006124
22,43,2017-12-18,H131,35371,35987,1.73,29,35699,35731,0.09,NaN,2017-12-29 16:21:43.016961
23,41,2017-12-18,H132,34872,36520,4.62,49,35714,35734,0.06,NaN,2017-12-29 16:21:43.028289
24,39,2017-12-18,H134,35510,36182,1.87,59,35732,35764,0.09,NaN,2017-12-29 16:21:43.039985
25,42,2017-12-18,H133,34812,36623,5.07,76,35713,35734,0.06,NaN,2017-12-29 16:21:43.04875
26,40,2017-12-18,H135,34676,36747,5.80,52,35714,35742,0.08,NaN,2017-12-29 16:21:43.059777
27,37,2017-12-18,H138,35370,36054,1.92,85,35742,35773,0.09,NaN,2017-12-29 16:21:43.068635
28,38,2017-12-18,H139,35202,36289,3.04,98,35743,35759,0.04,NaN,2017-12-29 16:21:43.077029
29,45,2017-12-18,H149,34231,36759,7.12,34,35746,35779,0.09,NaN,2017-12-29 16:21:43.110346
...,...,...,...,...,...,...,...,...,...,...,...,...
2722,2723,2017-07-06,H130,35186,36120,2.62,-1,35707,35741,0.10,NaN,NaN
2723,2724,2017-07-06,H128,35504,36006,1.40,15,35721,35741,0.06,NaN,NaN
2724,2725,2017-07-06,H127,35052,36383,3.73,10,35723,35749,0.07,NaN,NaN
2725,2729,2018-03-06,K172,35003,35952,2.67,41,35526,35546,0.06,NaN,2018-03-08 01:17:01.483531
2726,2726,2018-03-06,K208,35317,36079,2.13,67,35697,35706,0.03,NaN,2018-03-08 01:17:01.491979
2727,2727,2018-03-06,K210,35316,36077,2.13,54,35710,35721,0.03,NaN,2018-03-08 01:17:01.49618
2728,2728,2018-03-06,K209,34745,36283,4.33,24,35518,35529,0.03,NaN,2018-03-08 01:17:01.504278
2729,2730,2018-03-06,H136,-1,-1,-0.00,-1,-1,-1,-0.00,NaN,2018-03-08 04:38:56.58699
2730,2732,2018-03-06,H140,0,0,0.00,0,0,0,0.00,NaN,2018-03-08 04:38:56.592931
2731,2731,2018-03-06,H137,-1,-1,-0.00,-1,-1,-1,-0.00,NaN,2018-03-08 04:38:56.603365
2732,2733,2018-03-06,H141,-1,-1,-0.00,-1,-1,-1,-0.00,NaN,2018-03-08 04:38:56.607511
2733,2734,2018-01-06,K121,35303,36010,1.98,19,35716,35735,0.05,NaN,NaN
2734,2735,2018-01-06,K168,35185,35957,2.17,48,35540,35566,0.07,NaN,NaN
2735,2736,2018-01-06,K115,35266,35837,1.61,36,35543,35553,0.03,NaN,NaN
2736,2737,2018-01-06,K114,35220,36071,2.39,17,35715,35735,0.06,NaN,NaN
2737,2738,2018-01-06,K171,35109,35912,2.26,50,35504,35531,0.08,NaN,NaN
2738,2741,2018-03-07,K115,35266,35837,1.61,36,35543,35553,0.03,NaN,2018-03-08 12:22:57.135551
2739,2739,2018-03-07,K121,35303,36010,1.98,19,35716,35735,0.05,NaN,2018-03-08 12:22:57.148465
2740,2740,2018-03-07,K168,35185,35958,2.17,48,35541,35565,0.07,NaN,2018-03-08 12:22:57.152052
2741,2742,2018-03-07,K114,35220,36071,2.39,17,35715,35735,0.06,NaN,2018-03-08 12:22:57.155483
2742,2743,2018-03-07,K171,35109,35912,2.26,50,35504,35531,0.08,NaN,2018-03-08 12:22:57.159167
2743,2746,2018-03-07,K115,35266,35837,1.61,36,35543,35553,0.03,NaN,2018-03-08 12:24:51.322003
2744,2744,2018-03-07,K121,35303,36010,1.98,19,35716,35735,0.05,NaN,2018-03-08 12:24:51.337962
2745,2745,2018-03-07,K168,35185,35958,2.17,48,35541,35565,0.07,NaN,2018-03-08 12:24:51.343859
2746,2747,2018-03-07,K114,35220,36071,2.39,17,35715,35735,0.06,NaN,2018-03-08 12:24:51.349496
2747,2748,2018-03-07,K171,35109,35912,2.26,50,35504,35531,0.08,NaN,2018-03-08 12:24:51.369001
2748,2749,2017-12-07,K211,-1,-1,-0.00,-1,-1,-1,-0.00,NaN,NaN
2749,2750,2017-12-07,K212,-1,-1,-0.00,-1,-1,-1,-0.00,NaN,NaN
2750,2751,2018-03-07,K220,35181,36229,2.94,9,35702,35715,0.04,NaN,2018-03-08 14:42:19.353459
2751,2752,2018-03-07,K221,35288,36266,2.73,3,35734,35737,0.01,NaN,2018-03-08 14:42:19.359033

In [5]:
import numpy as np

In [6]:
dataframe = df.replace(-1,np.nan)

In [7]:
dataframe

,id,date,scanner,min,max,err,pixels,minf,maxf,errf,created_at,updated_at
0,12,2017-12-17,K219,35435.0,35933.0,1.40,6.0,35681.0,35688.0,0.02,NaN,2017-12-29 16:26:16.475205
1,30,2017-12-18,H161,35155.0,36382.0,3.43,14.0,35731.0,35761.0,0.08,NaN,2017-12-29 16:26:16.872783
2,47,2017-12-18,K211,35305.0,36042.0,2.07,43.0,35692.0,35739.0,0.13,NaN,2017-12-19 18:10:57.453846
3,48,2017-12-18,K212,35216.0,36225.0,2.82,61.0,35686.0,35726.0,0.11,NaN,2017-12-19 18:10:57.45983
4,49,2017-12-18,K220,35196.0,36259.0,2.98,11.0,35709.0,35724.0,0.04,NaN,2017-12-19 18:10:57.464388
5,50,2017-12-18,K221,35391.0,36054.0,1.86,5.0,35734.0,35738.0,0.01,NaN,2017-12-19 18:10:57.469167
6,68,2017-12-19,K169,34909.0,36193.0,3.61,51.0,35564.0,35574.0,0.03,NaN,2017-12-29 16:21:42.602005
7,31,2017-12-18,H162,35359.0,36084.0,2.03,39.0,35743.0,35772.0,0.08,NaN,2017-12-29 16:26:16.901776
8,8,2017-12-16,K238,35123.0,36175.0,2.95,6.0,35707.0,35718.0,0.03,NaN,2017-12-29 16:26:17.096023
9,10,2017-12-16,K250,35357.0,36015.0,1.84,17.0,35702.0,35708.0,0.02,NaN,2017-12-29 16:26:17.128897
10,7,2017-12-16,K237,35462.0,36079.0,1.72,11.0,35713.0,35720.0,0.02,NaN,2017-12-29 16:26:17.160421
11,6,2017-12-17,H173,35489.0,36031.0,1.52,11.0,35726.0,35745.0,0.05,NaN,2017-12-29 16:21:43.505101
12,2,2017-12-17,H175,34014.0,37070.0,8.60,50.0,35744.0,35769.0,0.07,NaN,2017-12-29 16:21:43.518853
13,4,2017-12-17,H177,35270.0,36244.0,2.72,42.0,35752.0,35768.0,0.04,NaN,2017-12-29 16:21:43.532435
14,3,2017-12-17,H176,35455.0,35988.0,1.49,25.0,35742.0,35760.0,0.05,NaN,2017-12-29 16:21:43.546355
15,5,2017-12-17,H174,35408.0,36128.0,2.01,39.0,35726.0,35745.0,0.05,NaN,2017-12-29 16:21:43.560012
16,20,2017-12-17,H128,35227.0,35929.0,1.97,119.0,35720.0,35745.0,0.07,NaN,2017-12-29 16:21:43.638894
17,29,2017-12-18,H163,35331.0,36280.0,2.65,58.0,35698.0,35772.0,0.21,NaN,2017-12-29 16:26:16.93791
18,9,2017-12-16,K239,35264.0,36246.0,2.75,21.0,35720.0,35727.0,0.02,NaN,2017-12-29 16:26:17.062209
19,66,2017-12-19,K120,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,2017-12-29 16:21:42.633186
20,67,2017-12-19,K141,35396.0,36048.0,1.83,44.0,35671.0,35707.0,0.10,NaN,2017-12-29 16:21:42.662023
21,46,2017-12-18,H148,35463.0,36032.0,1.59,19.0,35749.0,35768.0,0.05,NaN,2017-12-29 16:21:43.006124
22,43,2017-12-18,H131,35371.0,35987.0,1.73,29.0,35699.0,35731.0,0.09,NaN,2017-12-29 16:21:43.016961
23,41,2017-12-18,H132,34872.0,36520.0,4.62,49.0,35714.0,35734.0,0.06,NaN,2017-12-29 16:21:43.028289
24,39,2017-12-18,H134,35510.0,36182.0,1.87,59.0,35732.0,35764.0,0.09,NaN,2017-12-29 16:21:43.039985
25,42,2017-12-18,H133,34812.0,36623.0,5.07,76.0,35713.0,35734.0,0.06,NaN,2017-12-29 16:21:43.04875
26,40,2017-12-18,H135,34676.0,36747.0,5.80,52.0,35714.0,35742.0,0.08,NaN,2017-12-29 16:21:43.059777
27,37,2017-12-18,H138,35370.0,36054.0,1.92,85.0,35742.0,35773.0,0.09,NaN,2017-12-29 16:21:43.068635
28,38,2017-12-18,H139,35202.0,36289.0,3.04,98.0,35743.0,35759.0,0.04,NaN,2017-12-29 16:21:43.077029
29,45,2017-12-18,H149,34231.0,36759.0,7.12,34.0,35746.0,35779.0,0.09,NaN,2017-12-29 16:21:43.110346
...,...,...,...,...,...,...,...,...,...,...,...,...
2722,2723,2017-07-06,H130,35186.0,36120.0,2.62,NaN,35707.0,35741.0,0.10,NaN,NaN
2723,2724,2017-07-06,H128,35504.0,36006.0,1.40,15.0,35721.0,35741.0,0.06,NaN,NaN
2724,2725,2017-07-06,H127,35052.0,36383.0,3.73,10.0,35723.0,35749.0,0.07,NaN,NaN
2725,2729,2018-03-06,K172,35003.0,35952.0,2.67,41.0,35526.0,35546.0,0.06,NaN,2018-03-08 01:17:01.483531
2726,2726,2018-03-06,K208,35317.0,36079.0,2.13,67.0,35697.0,35706.0,0.03,NaN,2018-03-08 01:17:01.491979
2727,2727,2018-03-06,K210,35316.0,36077.0,2.13,54.0,35710.0,35721.0,0.03,NaN,2018-03-08 01:17:01.49618
2728,2728,2018-03-06,K209,34745.0,36283.0,4.33,24.0,35518.0,35529.0,0.03,NaN,2018-03-08 01:17:01.504278
2729,2730,2018-03-06,H136,NaN,NaN,-0.00,NaN,NaN,NaN,-0.00,NaN,2018-03-08 04:38:56.58699
2730,2732,2018-03-06,H140,0.0,0.0,0.00,0.0,0.0,0.0,0.00,NaN,2018-03-08 04:38:56.592931
2731,2731,2018-03-06,H137,NaN,NaN,-0.00,NaN,NaN,NaN,-0.00,NaN,2018-03-08 04:38:56.603365
2732,2733,2018-03-06,H141,NaN,NaN,-0.00,NaN,NaN,NaN,-0.00,NaN,2018-03-08 04:38:56.607511
2733,2734,2018-01-06,K121,35303.0,36010.0,1.98,19.0,35716.0,35735.0,0.05,NaN,NaN
2734,2735,2018-01-06,K168,35185.0,35957.0,2.17,48.0,35540.0,35566.0,0.07,NaN,NaN
2735,2736,2018-01-06,K115,35266.0,35837.0,1.61,36.0,35543.0,35553.0,0.03,NaN,NaN
2736,2737,2018-01-06,K114,35220.0,36071.0,2.39,17.0,35715.0,35735.0,0.06,NaN,NaN
2737,2738,2018-01-06,K171,35109.0,35912.0,2.26,50.0,35504.0,35531.0,0.08,NaN,NaN
2738,2741,2018-03-07,K115,35266.0,35837.0,1.61,36.0,35543.0,35553.0,0.03,NaN,2018-03-08 12:22:57.135551
2739,2739,2018-03-07,K121,35303.0,36010.0,1.98,19.0,35716.0,35735.0,0.05,NaN,2018-03-08 12:22:57.148465
2740,2740,2018-03-07,K168,35185.0,35958.0,2.17,48.0,35541.0,35565.0,0.07,NaN,2018-03-08 12:22:57.152052
2741,2742,2018-03-07,K114,35220.0,36071.0,2.39,17.0,35715.0,35735.0,0.06,NaN,2018-03-08 12:22:57.155483
2742,2743,2018-03-07,K171,35109.0,35912.0,2.26,50.0,35504.0,35531.0,0.08,NaN,2018-03-08 12:22:57.159167
2743,2746,2018-03-07,K115,35266.0,35837.0,1.61,36.0,35543.0,35553.0,0.03,NaN,2018-03-08 12:24:51.322003
2744,2744,2018-03-07,K121,35303.0,36010.0,1.98,19.0,35716.0,35735.0,0.05,NaN,2018-03-08 12:24:51.337962
2745,2745,2018-03-07,K168,35185.0,35958.0,2.17,48.0,35541.0,35565.0,0.07,NaN,2018-03-08 12:24:51.343859
2746,2747,2018-03-07,K114,35220.0,36071.0,2.39,17.0,35715.0,35735.0,0.06,NaN,2018-03-08 12:24:51.349496
2747,2748,2018-03-07,K171,35109.0,35912.0,2.26,50.0,35504.0,35531.0,0.08,NaN,2018-03-08 12:24:51.369001
2748,2749,2017-12-07,K211,NaN,NaN,-0.00,NaN,NaN,NaN,-0.00,NaN,NaN
2749,2750,2017-12-07,K212,NaN,NaN,-0.00,NaN,NaN,NaN,-0.00,NaN,NaN
2750,2751,2018-03-07,K220,35181.0,36229.0,2.94,9.0,35702.0,35715.0,0.04,NaN,2018-03-08 14:42:19.353459
2751,2752,2018-03-07,K221,35288.0,36266.0,2.73,3.0,35734.0,35737.0,0.01,NaN,2018-03-08 14:42:19.359033

In [9]:
dataframe = dataframe.replace(-0.00,np.nan)

In [11]:
dataframe = dataframe.replace(0.00,np.nan)

In [12]:
dataframe

,id,date,scanner,min,max,err,pixels,minf,maxf,errf,created_at,updated_at
0,12,2017-12-17,K219,35435.0,35933.0,1.40,6.0,35681.0,35688.0,0.02,NaN,2017-12-29 16:26:16.475205
1,30,2017-12-18,H161,35155.0,36382.0,3.43,14.0,35731.0,35761.0,0.08,NaN,2017-12-29 16:26:16.872783
2,47,2017-12-18,K211,35305.0,36042.0,2.07,43.0,35692.0,35739.0,0.13,NaN,2017-12-19 18:10:57.453846
3,48,2017-12-18,K212,35216.0,36225.0,2.82,61.0,35686.0,35726.0,0.11,NaN,2017-12-19 18:10:57.45983
4,49,2017-12-18,K220,35196.0,36259.0,2.98,11.0,35709.0,35724.0,0.04,NaN,2017-12-19 18:10:57.464388
5,50,2017-12-18,K221,35391.0,36054.0,1.86,5.0,35734.0,35738.0,0.01,NaN,2017-12-19 18:10:57.469167
6,68,2017-12-19,K169,34909.0,36193.0,3.61,51.0,35564.0,35574.0,0.03,NaN,2017-12-29 16:21:42.602005
7,31,2017-12-18,H162,35359.0,36084.0,2.03,39.0,35743.0,35772.0,0.08,NaN,2017-12-29 16:26:16.901776
8,8,2017-12-16,K238,35123.0,36175.0,2.95,6.0,35707.0,35718.0,0.03,NaN,2017-12-29 16:26:17.096023
9,10,2017-12-16,K250,35357.0,36015.0,1.84,17.0,35702.0,35708.0,0.02,NaN,2017-12-29 16:26:17.128897
10,7,2017-12-16,K237,35462.0,36079.0,1.72,11.0,35713.0,35720.0,0.02,NaN,2017-12-29 16:26:17.160421
11,6,2017-12-17,H173,35489.0,36031.0,1.52,11.0,35726.0,35745.0,0.05,NaN,2017-12-29 16:21:43.505101
12,2,2017-12-17,H175,34014.0,37070.0,8.60,50.0,35744.0,35769.0,0.07,NaN,2017-12-29 16:21:43.518853
13,4,2017-12-17,H177,35270.0,36244.0,2.72,42.0,35752.0,35768.0,0.04,NaN,2017-12-29 16:21:43.532435
14,3,2017-12-17,H176,35455.0,35988.0,1.49,25.0,35742.0,35760.0,0.05,NaN,2017-12-29 16:21:43.546355
15,5,2017-12-17,H174,35408.0,36128.0,2.01,39.0,35726.0,35745.0,0.05,NaN,2017-12-29 16:21:43.560012
16,20,2017-12-17,H128,35227.0,35929.0,1.97,119.0,35720.0,35745.0,0.07,NaN,2017-12-29 16:21:43.638894
17,29,2017-12-18,H163,35331.0,36280.0,2.65,58.0,35698.0,35772.0,0.21,NaN,2017-12-29 16:26:16.93791
18,9,2017-12-16,K239,35264.0,36246.0,2.75,21.0,35720.0,35727.0,0.02,NaN,2017-12-29 16:26:17.062209
19,66,2017-12-19,K120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-29 16:21:42.633186
20,67,2017-12-19,K141,35396.0,36048.0,1.83,44.0,35671.0,35707.0,0.10,NaN,2017-12-29 16:21:42.662023
21,46,2017-12-18,H148,35463.0,36032.0,1.59,19.0,35749.0,35768.0,0.05,NaN,2017-12-29 16:21:43.006124
22,43,2017-12-18,H131,35371.0,35987.0,1.73,29.0,35699.0,35731.0,0.09,NaN,2017-12-29 16:21:43.016961
23,41,2017-12-18,H132,34872.0,36520.0,4.62,49.0,35714.0,35734.0,0.06,NaN,2017-12-29 16:21:43.028289
24,39,2017-12-18,H134,35510.0,36182.0,1.87,59.0,35732.0,35764.0,0.09,NaN,2017-12-29 16:21:43.039985
25,42,2017-12-18,H133,34812.0,36623.0,5.07,76.0,35713.0,35734.0,0.06,NaN,2017-12-29 16:21:43.04875
26,40,2017-12-18,H135,34676.0,36747.0,5.80,52.0,35714.0,35742.0,0.08,NaN,2017-12-29 16:21:43.059777
27,37,2017-12-18,H138,35370.0,36054.0,1.92,85.0,35742.0,35773.0,0.09,NaN,2017-12-29 16:21:43.068635
28,38,2017-12-18,H139,35202.0,36289.0,3.04,98.0,35743.0,35759.0,0.04,NaN,2017-12-29 16:21:43.077029
29,45,2017-12-18,H149,34231.0,36759.0,7.12,34.0,35746.0,35779.0,0.09,NaN,2017-12-29 16:21:43.110346
...,...,...,...,...,...,...,...,...,...,...,...,...
2722,2723,2017-07-06,H130,35186.0,36120.0,2.62,NaN,35707.0,35741.0,0.10,NaN,NaN
2723,2724,2017-07-06,H128,35504.0,36006.0,1.40,15.0,35721.0,35741.0,0.06,NaN,NaN
2724,2725,2017-07-06,H127,35052.0,36383.0,3.73,10.0,35723.0,35749.0,0.07,NaN,NaN
2725,2729,2018-03-06,K172,35003.0,35952.0,2.67,41.0,35526.0,35546.0,0.06,NaN,2018-03-08 01:17:01.483531
2726,2726,2018-03-06,K208,35317.0,36079.0,2.13,67.0,35697.0,35706.0,0.03,NaN,2018-03-08 01:17:01.491979
2727,2727,2018-03-06,K210,35316.0,36077.0,2.13,54.0,35710.0,35721.0,0.03,NaN,2018-03-08 01:17:01.49618
2728,2728,2018-03-06,K209,34745.0,36283.0,4.33,24.0,35518.0,35529.0,0.03,NaN,2018-03-08 01:17:01.504278
2729,2730,2018-03-06,H136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-08 04:38:56.58699
2730,2732,2018-03-06,H140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-08 04:38:56.592931
2731,2731,2018-03-06,H137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-08 04:38:56.603365
2732,2733,2018-03-06,H141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-08 04:38:56.607511
2733,2734,2018-01-06,K121,35303.0,36010.0,1.98,19.0,35716.0,35735.0,0.05,NaN,NaN
2734,2735,2018-01-06,K168,35185.0,35957.0,2.17,48.0,35540.0,35566.0,0.07,NaN,NaN
2735,2736,2018-01-06,K115,35266.0,35837.0,1.61,36.0,35543.0,35553.0,0.03,NaN,NaN
2736,2737,2018-01-06,K114,35220.0,36071.0,2.39,17.0,35715.0,35735.0,0.06,NaN,NaN
2737,2738,2018-01-06,K171,35109.0,35912.0,2.26,50.0,35504.0,35531.0,0.08,NaN,NaN
2738,2741,2018-03-07,K115,35266.0,35837.0,1.61,36.0,35543.0,35553.0,0.03,NaN,2018-03-08 12:22:57.135551
2739,2739,2018-03-07,K121,35303.0,36010.0,1.98,19.0,35716.0,35735.0,0.05,NaN,2018-03-08 12:22:57.148465
2740,2740,2018-03-07,K168,35185.0,35958.0,2.17,48.0,35541.0,35565.0,0.07,NaN,2018-03-08 12:22:57.152052
2741,2742,2018-03-07,K114,35220.0,36071.0,2.39,17.0,35715.0,35735.0,0.06,NaN,2018-03-08 12:22:57.155483
2742,2743,2018-03-07,K171,35109.0,35912.0,2.26,50.0,35504.0,35531.0,0.08,NaN,2018-03-08 12:22:57.159167
2743,2746,2018-03-07,K115,35266.0,35837.0,1.61,36.0,35543.0,35553.0,0.03,NaN,2018-03-08 12:24:51.322003
2744,2744,2018-03-07,K121,35303.0,36010.0,1.98,19.0,35716.0,35735.0,0.05,NaN,2018-03-08 12:24:51.337962
2745,2745,2018-03-07,K168,35185.0,35958.0,2.17,48.0,35541.0,35565.0,0.07,NaN,2018-03-08 12:24:51.343859
2746,2747,2018-03-07,K114,35220.0,36071.0,2.39,17.0,35715.0,35735.0,0.06,NaN,2018-03-08 12:24:51.349496
2747,2748,2018-03-07,K171,35109.0,35912.0,2.26,50.0,35504.0,35531.0,0.08,NaN,2018-03-08 12:24:51.369001
2748,2749,2017-12-07,K211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2749,2750,2017-12-07,K212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2750,2751,2018-03-07,K220,35181.0,36229.0,2.94,9.0,35702.0,35715.0,0.04,NaN,2018-03-08 14:42:19.353459
2751,2752,2018-03-07,K221,35288.0,36266.0,2.73,3.0,35734.0,35737.0,0.01,NaN,2018-03-08 14:42:19.359033

In [18]:
dataframe = dataframe.replace(np.nan," ")

In [19]:
  dataframe

,id,date,scanner,min,max,err,pixels,minf,maxf,errf,created_at,updated_at
0,12,2017-12-17,K219,35435,35933,1.4,6,35681,35688,0.02,,2017-12-29 16:26:16.475205
1,30,2017-12-18,H161,35155,36382,3.43,14,35731,35761,0.08,,2017-12-29 16:26:16.872783
2,47,2017-12-18,K211,35305,36042,2.07,43,35692,35739,0.13,,2017-12-19 18:10:57.453846
3,48,2017-12-18,K212,35216,36225,2.82,61,35686,35726,0.11,,2017-12-19 18:10:57.45983
4,49,2017-12-18,K220,35196,36259,2.98,11,35709,35724,0.04,,2017-12-19 18:10:57.464388
5,50,2017-12-18,K221,35391,36054,1.86,5,35734,35738,0.01,,2017-12-19 18:10:57.469167
6,68,2017-12-19,K169,34909,36193,3.61,51,35564,35574,0.03,,2017-12-29 16:21:42.602005
7,31,2017-12-18,H162,35359,36084,2.03,39,35743,35772,0.08,,2017-12-29 16:26:16.901776
8,8,2017-12-16,K238,35123,36175,2.95,6,35707,35718,0.03,,2017-12-29 16:26:17.096023
9,10,2017-12-16,K250,35357,36015,1.84,17,35702,35708,0.02,,2017-12-29 16:26:17.128897
10,7,2017-12-16,K237,35462,36079,1.72,11,35713,35720,0.02,,2017-12-29 16:26:17.160421
11,6,2017-12-17,H173,35489,36031,1.52,11,35726,35745,0.05,,2017-12-29 16:21:43.505101
12,2,2017-12-17,H175,34014,37070,8.6,50,35744,35769,0.07,,2017-12-29 16:21:43.518853
13,4,2017-12-17,H177,35270,36244,2.72,42,35752,35768,0.04,,2017-12-29 16:21:43.532435
14,3,2017-12-17,H176,35455,35988,1.49,25,35742,35760,0.05,,2017-12-29 16:21:43.546355
15,5,2017-12-17,H174,35408,36128,2.01,39,35726,35745,0.05,,2017-12-29 16:21:43.560012
16,20,2017-12-17,H128,35227,35929,1.97,119,35720,35745,0.07,,2017-12-29 16:21:43.638894
17,29,2017-12-18,H163,35331,36280,2.65,58,35698,35772,0.21,,2017-12-29 16:26:16.93791
18,9,2017-12-16,K239,35264,36246,2.75,21,35720,35727,0.02,,2017-12-29 16:26:17.062209
19,66,2017-12-19,K120,,,,,,,,,2017-12-29 16:21:42.633186
20,67,2017-12-19,K141,35396,36048,1.83,44,35671,35707,0.1,,2017-12-29 16:21:42.662023
21,46,2017-12-18,H148,35463,36032,1.59,19,35749,35768,0.05,,2017-12-29 16:21:43.006124
22,43,2017-12-18,H131,35371,35987,1.73,29,35699,35731,0.09,,2017-12-29 16:21:43.016961
23,41,2017-12-18,H132,34872,36520,4.62,49,35714,35734,0.06,,2017-12-29 16:21:43.028289
24,39,2017-12-18,H134,35510,36182,1.87,59,35732,35764,0.09,,2017-12-29 16:21:43.039985
25,42,2017-12-18,H133,34812,36623,5.07,76,35713,35734,0.06,,2017-12-29 16:21:43.04875
26,40,2017-12-18,H135,34676,36747,5.8,52,35714,35742,0.08,,2017-12-29 16:21:43.059777
27,37,2017-12-18,H138,35370,36054,1.92,85,35742,35773,0.09,,2017-12-29 16:21:43.068635
28,38,2017-12-18,H139,35202,36289,3.04,98,35743,35759,0.04,,2017-12-29 16:21:43.077029
29,45,2017-12-18,H149,34231,36759,7.12,34,35746,35779,0.09,,2017-12-29 16:21:43.110346
...,...,...,...,...,...,...,...,...,...,...,...,...
2722,2723,2017-07-06,H130,35186,36120,2.62,,35707,35741,0.1,,
2723,2724,2017-07-06,H128,35504,36006,1.4,15,35721,35741,0.06,,
2724,2725,2017-07-06,H127,35052,36383,3.73,10,35723,35749,0.07,,
2725,2729,2018-03-06,K172,35003,35952,2.67,41,35526,35546,0.06,,2018-03-08 01:17:01.483531
2726,2726,2018-03-06,K208,35317,36079,2.13,67,35697,35706,0.03,,2018-03-08 01:17:01.491979
2727,2727,2018-03-06,K210,35316,36077,2.13,54,35710,35721,0.03,,2018-03-08 01:17:01.49618
2728,2728,2018-03-06,K209,34745,36283,4.33,24,35518,35529,0.03,,2018-03-08 01:17:01.504278
2729,2730,2018-03-06,H136,,,,,,,,,2018-03-08 04:38:56.58699
2730,2732,2018-03-06,H140,,,,,,,,,2018-03-08 04:38:56.592931
2731,2731,2018-03-06,H137,,,,,,,,,2018-03-08 04:38:56.603365
2732,2733,2018-03-06,H141,,,,,,,,,2018-03-08 04:38:56.607511
2733,2734,2018-01-06,K121,35303,36010,1.98,19,35716,35735,0.05,,
2734,2735,2018-01-06,K168,35185,35957,2.17,48,35540,35566,0.07,,
2735,2736,2018-01-06,K115,35266,35837,1.61,36,35543,35553,0.03,,
2736,2737,2018-01-06,K114,35220,36071,2.39,17,35715,35735,0.06,,
2737,2738,2018-01-06,K171,35109,35912,2.26,50,35504,35531,0.08,,
2738,2741,2018-03-07,K115,35266,35837,1.61,36,35543,35553,0.03,,2018-03-08 12:22:57.135551
2739,2739,2018-03-07,K121,35303,36010,1.98,19,35716,35735,0.05,,2018-03-08 12:22:57.148465
2740,2740,2018-03-07,K168,35185,35958,2.17,48,35541,35565,0.07,,2018-03-08 12:22:57.152052
2741,2742,2018-03-07,K114,35220,36071,2.39,17,35715,35735,0.06,,2018-03-08 12:22:57.155483
2742,2743,2018-03-07,K171,35109,35912,2.26,50,35504,35531,0.08,,2018-03-08 12:22:57.159167
2743,2746,2018-03-07,K115,35266,35837,1.61,36,35543,35553,0.03,,2018-03-08 12:24:51.322003
2744,2744,2018-03-07,K121,35303,36010,1.98,19,35716,35735,0.05,,2018-03-08 12:24:51.337962
2745,2745,2018-03-07,K168,35185,35958,2.17,48,35541,35565,0.07,,2018-03-08 12:24:51.343859
2746,2747,2018-03-07,K114,35220,36071,2.39,17,35715,35735,0.06,,2018-03-08 12:24:51.349496
2747,2748,2018-03-07,K171,35109,35912,2.26,50,35504,35531,0.08,,2018-03-08 12:24:51.369001
2748,2749,2017-12-07,K211,,,,,,,,,
2749,2750,2017-12-07,K212,,,,,,,,,
2750,2751,2018-03-07,K220,35181,36229,2.94,9,35702,35715,0.04,,2018-03-08 14:42:19.353459
2751,2752,2018-03-07,K221,35288,36266,2.73,3,35734,35737,0.01,,2018-03-08 14:42:19.359033

In [ ]:
dataframe.to_csv("cleaned_encoders.csv")